.idea
cmake-build-debug
CMakeLists.txt
CMakeLists.txt.sdl
CMakeLists.txt.3ds
CMakeLists.txt.switch

build
output

gameyob.ini
build_errors.log
dkp-make
*.shbin
output/
build/
include/bios_bin.h
include/dummy_bios_bin.h
include/platform/
